<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <div class="navbar">
      <div class="btn-back">
        <ion-buttons slot="start">
          <ion-back-button color="primary" defaultHref="/"></ion-back-button>
        </ion-buttons>
      </div>
      <ion-title>{{ title }}</ion-title>
      <nav>
        <div class="content" [routerLink]="['/']">
          <ion-icon name="home-sharp"></ion-icon>
        </div>
        <div class="content" [routerLink]="['/list']">
          <ion-icon name="list-sharp"></ion-icon>
        </div>
      </nav>
    </div>
  </ion-toolbar>
</ion-header>