<app-header title="Liste oeuvre"></app-header>


<ion-button [routerLink]="['/oeuvre-create']">
  Ajouter Oeuvre
</ion-button>
  
<ion-content class="ion-padding">
  <ion-card *ngFor="let item of oeuvresData">
    <img [src]="item.picture" [alt]="item.name">
    <ion-card-header>
      <ion-card-subtitle>{{ item.author }}</ion-card-subtitle>
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ item.date }}</p>
      <p>{{ item.location }}</p>
      <!-- <ion-button *ngIf="!item.isLiked" (click)="like(item.id)">like</ion-button>
   <ion-button *ngIf="!item.isliked" (click)="unlike(item.id)">unlike</ion-button> -->
      
    </ion-card-content>
  </ion-card>

</ion-content>
